body,
ul {
  margin: 0;
  padding: 0;
  color: grey;
}

h1 {
  color: black;
}

.mini-container-right {
  margin-left: 25px;
  flex: 1;
}
.mini-container-left {
  margin-right: 25px;
  flex: 1;
}

/* IMAGES RESPONSIE */

img {
  max-width: 100%;
  height: auto;
  display: block;
}
/* CONTAINER CLASS */
.container {
  width: 80%;
  margin: auto;
}

/* CONTAINER-FLEX */

.container-flex {
  display: flex;
}

.container-flex-item {
  flex: 1;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* SUBTITLE */
h3.subtitle {
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* TEXT */

.text {
  font-size: 18px;
  text-align: justify;
  line-height: 150%;
}
/* SECTION */

section {
  margin-top: 50px;
  margin-bottom: 50px;
}
/* HEADER */

header {
  height: 80px;
}

header nav {
  width: 80%;
  height: 100%;
  margin: auto;
}

header nav ul {
  position: relative;
  list-style: none;
  height: 100%;
}

header nav ul li.title {
  float: left;
  margin: 0;
  position: absolute;
  top: 40%;
}

header nav ul .menu-download {
  float: right;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-buttom div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.menu-download .burger-buttom {
  display: none;
}

.nav .title {
  position: absolute;
  font-weight: 700;
}

.title a {
  text-decoration: none;
  color: black;
}

.download-app button {
  color: white;
  padding: 15px 30px;
  font-weight: 700;
  border: 2px solid #fe5f80;
  border-radius: 50px;
  cursor: pointer;
  background-color: #fe5f08;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* responsive design */
@media screen and (max-width: 600px) {
  header nav {
    width: 80%;
    height: 100%;
    margin: auto;
  }
  .download-app .btn-down {
    display: none;
  }
  .menu-download .burger-buttom {
    display: block;
  }
}

/* HEADER END */

/* PICTURE HEADER */
.picture-header {
  background-color: #f8f5f2;
}

.picture-header-container {
  width: 80%;
  margin: auto;
  text-align: center;
  display: block;
}

.picture-header img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media only screen and (min-width: 1200px) {
  .picture-header img {
    margin-left: 10%;
  }
}

/* PICTURE HEADER END */

/* ABOUT APP */
.about-app h2 {
  text-align: center;
}

/* LIST OL */

#module {
  width: 80%;
  margin: 10px;
}
ol {
  color: #ccc;
  list-style-type: none;
}

ol li {
  position: relative;
  font: 500 italic 45px/1.5 Helvetica, Verdana, sans-serif;
  margin-bottom: 20px;
}

li p {
  font-size: 16px;
  padding-left: 60px;
  color: #555;
}

span.number {
  position: absolute;
}

span.module-name {
  font-weight: 700;
}
/* ABOUT APP END */
/* HOW TO BUILD */
.how-to-build-flex {
  display: flex;
}
.how-to-build-flex .text-container {
  flex: 1;
}

.how-to-build-flex .img-container {
  flex: 1;
}

.img-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media screen and (max-width: 600px) {
  .how-to-build-flex {
    display: block;
  }

  .container-flex {
    display: block;
  }

  .mini-container-left,
  .mini-container-right {
    margin: 0;
  }
}

/* HOW TO BUILD END */

/* DESIGN AND WIREFRAMES */
.design-wireframes {
  display: flex;
}

/* DESIGN AND WIREFRAMES END*/

/* FOOTER */
footer {
  color: white;
  position: relative;
  height: 150px;
  background-color: #fe5f08;
}

footer div {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 20%;
}

footer .ul-link {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

footer .ul-link .link-item {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 5px;
  border-radius: 50%;
}

/* FOOTER END */
